@import '../components/dashboard/dashboard';

#App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .app-container {
        position: relative;
        width: 100%;
        height: 100%;
        // max-width: 1640px;
        // width: 1640px;
        // max-height: 800px;
        // height: 800px;
        background: linear-gradient(to top right, #3995a6ff 50%, #89caccff);
        // border-radius: 1rem;
        // border: .25rem solid #ffffffaa;
        // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
        overflow: hidden;
        transition: all .3s ease-in-out;

        .main-content {
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .bg-pattern {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 225%;
            background-size: 350px;
            background-repeat: repeat;
            // transform: rotateZ(15deg) scale(1.2);
            z-index: 0;
            pointer-events: none;
            transition: all .3s ease-in-out;
            animation: infinite 30s linear move-bg;

            &.landing {
                background-image: url('/src/assets/images/statics/brand/Lemonify_Logo_V3.png');
            }

            &.arcadePalace {
                background-image: url('/src/assets/images/statics/brand/arcade_pattern.png');
            }

            &.mkTrials {
                background-image: url('/src/assets/images/statics/brand/arcade_time_pattern.png');
            }

            &.portfolio {
                background-image: url('/src/assets/images/statics/brand/portfolio_pattern.png');
            }

            &.articles {
                background-image: url('/src/assets/images/statics/brand/articles_pattern.png');
            }
        }
    }
}

@keyframes move-bg {
    0% {
        background-position: 0 0;
    } 100% {
        background-position: -350px 350px;
    }
}