@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

// colors variables
$mk-bg-primary: #e0eaf4;
$mk-bg-secondary: #1c3649;

$lumi : #40C5EC;

// font variables
$roboto: 'Roboto', sans-serif;
$luckiest: 'Luckiest Guy', cursive;
$caveat: 'Caveat', cursive;
$poetsen: 'Poetsen One', serif;
$notable: 'Notable', serif;
$libre: 'Libre Caslon Display', serif;

$drop-shadow: 5px 10px 0 0 rgba(0, 0, 0, 0.4);
$ambiant-shadow: drop-shadow(-5px 5px 2px #00000055);

