// colors variables

$mk-bg-primary: #e0eaf4;
$mk-bg-secondary: #1c3649;

$lumi : #40C5EC;

// font variables
$roboto: 'Roboto', sans-serif;
$luckiest: 'Luckiest Guy', cursive;
$caveat: 'Caveat', cursive;

$drop-shadow: 5px 10px 0 0 rgba(0, 0, 0, 0.4);