.arcadepalace {
    position: relative;
    align-items: center;
    justify-content: center;
    top: 330px;
    left: 50px;
    width: 245px;
    height: 113px;           
    transform: rotate(5deg);
    filter: $ambiant-shadow;
    .arcade-word-svg {
        position: absolute;
        top: -70px;
        left: 5px;
        width: 100%;
        height: 100%;
        z-index: 6;
        fill: #fff;
        filter: drop-shadow(0px 2px 0px #000000cc);
        transform: rotateZ(25deg);
        .arcade-word {
            letter-spacing: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .arcadepalace-sticker-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #0D5A6E, #095867);
        border: 5px solid white;
        border-radius: 10px;
        clip-path: circle(120% at 25% -20%);
        transition: all .5s ease-in-out;
        &::after {
            content:'';
            position: absolute;
            top: -61px;
            left: 30px;
            width: 170px;
            height: 56px;
            background: #0D5A6E;
            border: 5px solid white;
            border-bottom: 0;
            border-radius: 61.6px 61.6px 0 0;
            z-index: 5;
        }
        .palace_word {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $notable;
            font-size: 2.5rem;
            letter-spacing: 5px;
            text-align: center;
            color: #fff;
            text-shadow: -2px 0 #095867, 0 2px #095867, 2px 0 #095867, 0 -2px #095867;
            z-index: 8;
        }
        .arcadepalace-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            z-index: 7;
        }
        .arcadepalace-sticker {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(100px, 150px);
            width: 80px;
            height: 80px;
            background: radial-gradient(circle, #555 0%, #ddd 100%);
            filter: drop-shadow(-10px 0px 5px #00000088);
            transition: all .5s ease-in-out;
            border-radius: 10px;
            z-index: 9;
        }
    }
    &:hover {
        .arcadepalace-sticker-container {
            clip-path: circle(105% at 20% 0%);
            .arcadepalace-sticker {
                transform: translate(55px, 10px);
            }
        }
    }
}
