.articles {
    align-items: center;
    width: fit-content;
    top: 250px;
    left: 50px;
    font-family: $poetsen;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    transform: rotate(-2deg);
    .articles-sticker-ghost {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%) skewX(-25deg);
        width: 225px;
        height: 75px;
        background: radial-gradient(circle, #00000088 0%, #00000033 70%);
        border-radius: .75rem;
        border: #00000055 3px solid;
        filter: blur(3px);
        z-index: -1;
    }
    .articles-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 125px;
        filter: drop-shadow(-2px 0px 0px #000);
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.05);
            width: 100%;
            height: 100%;
            background: #000;
            clip-path: polygon(65% 11%, 66% 16%, 68% 21%, 68% 27%, 68% 33%, 66% 38%, 64% 41%, 66% 44%, 59% 61%, 47% 73%, 41% 77%, 36% 83%, 38% 72%, 40% 72%, 40% 67%, 42% 64%, 48% 51%, 50% 50%, 51% 48%, 56% 38%, 62% 23%);
            z-index: -1;
        }
    }
    .articles-title-container {
        position: relative;
        width: 225px;
        height: 75px;
        background: #000;
        border: 3px solid #fff;
        transform: translateX(-80px) skewX(-25deg);
        border-radius: 1rem;
        clip-path: circle(125% at 25% 125%);
        transition: .5s ease-in-out;
        z-index: -1;
        .articles-name {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 75px;
            padding: .5rem;
            z-index: -1;
            transform: skewX(25deg) translateX(40px);
            transition: .5s ease-in-out;
            // Articles Iteration positioning 
            $topvalue: 2px;
            $leftvalue: 5px;
            // Articles Iteration styling
            @for $i from 0 through 3 {
                .articles_iteration-#{$i} {
                    position: absolute;
                    top: calc(#{$topvalue} + #{$i * 5px});
                    left: calc(#{$leftvalue} + #{$i * 5px});
                    z-index: #{4 - $i};
                    opacity: #{1 - ($i * 0.2)};
                    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                }
            }
            .articles-sticker {
                position: absolute;
                top:0;
                right: 0;
                transform: translate(190px, 0px) skewX(2.5deg);
                width: 150px;
                height: 75px;
                background: radial-gradient(circle, #333 50%, #ddd 100%);
                border-radius: .75rem;
                z-index: 10;
                filter: drop-shadow(0px 2px 0px #000000cc);
                transition: .5s ease-in-out;
            }
        }
    }
    &:hover {
        .articles-title-container {
            clip-path: circle(100% at 20% 85%);
            .articles-name {
                    .articles-sticker {
                        filter: drop-shadow(-5px 0px 5px #000000cc);
                        transform: translate(105px, 0px) skewX(2.5deg);
                    }
            }
        }
    }
}
