@import './menu';
@import './resume';
@import '../dashboard/notebook-comp/notebook';

#Landing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    .computer, .mouse, .tablet {
        position: absolute;
        left: 0;
        filter: blur(3px) drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
    }
    .computer {
        top: 0;
        transform: translate(-30%, -2%);
        width: 50%;
        height: 50%;
        animation: computerin 1s ease-in-out;
    }
    .mouse {
        top: 0;
        transform: translate(70%, -2%);
        width: 25%;
        height: 25%;
        animation: mousein 1s ease-in-out;
    }
    .tablet {
        bottom: 0;
        transform: translate(-2%, 0%);
        width: 30%;
        height: 30%;
        animation: tabletin 1s ease-in-out;
    }
    .lemon-logo {
        position: absolute;
        top: 0;
        left: 0;
        translate: 50% 50%;
        width: 35%;
        animation: logofadein 2s ease-in-out;
    }
}

@keyframes logofadein {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    50% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes computerin {
    0% {
        transform: translate(-100%, -2%);
    }
    100% {
        transform: translate(-30%, -2%);
    }
}

@keyframes mousein {
    0% {
        transform: translate(70%, -100%);
    }
    100% {
        transform: translate(70%, -2%);
    }
}

@keyframes tabletin {
    0% {
        transform: translate(-2%, 100%);
    }
    100% {
        transform: translate(-2%, 0%);
    }
}