$ambiant-shadow: drop-shadow(-5px 5px 2px #00000055);

#Notebook {
    position: relative;
    top: 35%;
    width: 500px;
    height: 800px;
    transform-origin: center;
    filter: $ambiant-shadow;
    transition: all .6s linear;

    &.notebook-closed {
        transform: translate(-50%, -50%) rotate(-5deg);
        left: 70%;
    } 

    &.notebook-open {
        transform: translate(-50%, -50%) rotate(0deg);
        left: -15%;
    }

    #Notebook-cover, #Notebook-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #Bookmark {
        position: relative;
        top: 0;
        left: 0;
        width: 70px;
        height: 800px;

        &.bookmark-closed {
            &::before {
                left: 15px;
                animation: bookmark-before-closed .6s linear;
            }
            &::after {
                left: 50px;
                animation: bookmark-after-closed .6s linear;
            }
        }

        &.bookmark-open {
            &::before {
                left: 515px;
                animation: bookmark-before-open .6s linear;
            }
            &::after {
                left: 550px;
                animation: bookmark-after-open .6s linear;
            }
        }

        @keyframes bookmark-before-closed {
            0% {
                left: 515px;
            }
            50% {
                left: 15px;
            }
            100% {
                left: 15px;
            }
        }

        @keyframes bookmark-after-closed {
            0% {
                left: 550px;
            }
            50% {
                left: 50px;
            }
            100% {
                left: 50px;
            }
        }

        @keyframes bookmark-before-open {
            0% {
                left: 15px;
            }
            50% {
                left: 15px;
            }
            100% {
                left: 515px;
            }
        }

        @keyframes bookmark-after-open {
            0% {
                left: 50px;
            }
            50% {
                left: 50px;
            }
            100% {
                left: 550px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 95%;
            left: 15px;
            bottom: -30px;
            background: #043D5B;
            border-left: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform: skewY( -45deg);
            transition: all .6s linear;
            z-index: 120;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 95%;
            left: 50px;
            bottom: -50px;
            background: #043D5B;
            border-right: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform: skewY(45deg);
            transition: all .6s linear;
            z-index: 120;
        }
    }
}

#Notebook-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 130;
    transform-origin: left center;
    transition: all .6s ease-in-out;

    &::before { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .6s ease-in-out;
        background: radial-gradient(#684931, #382618);
        border-radius: 10px 40px 40px 0px;
        box-shadow: inset -5px 2px 6px 0px #93643f;
        z-index: 1;
    }

    &.notebook-cover-closed {
        transform: rotate3d(1, 1, 1, 0deg) skewY(0deg);
        animation: CoverTurn-closed .6s ease-in-out;

        &::before {
            height: 100%;
        }
    }

    &.notebook-cover-open {
        transform: rotate3d(0, 1, 0, 90deg) skewY(-15deg);
        animation: CoverTurn-open .6s ease-in-out;

        &::before {
            height: 102%;
        }
    }

    @keyframes CoverTurn-open {
        0% {
            transform: rotate3d(1, 1, 1, 0deg) skewY(0deg);
        }
        50% {
            transform: rotate3d(0, 1, 0, 90deg) skewY(5deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 90deg) skewY(0deg);
        }
    }

    @keyframes CoverTurn-closed {
        0% {
            transform: rotate3d(1, 1, 1, 90deg) skewY(0deg);
        }
        50% {
            transform: rotate3d(0, 1, 0, 90deg) skewY(-15deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 0deg) skewY(0deg);
        }
    }



    #Notebook_Nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navLink {
            display: flex;
            position: relative;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;

            &.articles {
                align-items: center;
                width: fit-content;
                top: 250px;
                left: 50px;
                font-family: $poetsen;
                font-weight: 400;
                font-size: 2.5rem;
                font-style: normal;
                transform: rotate(-2deg);
                filter: $ambiant-shadow;

                .articles-icon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 125px;
                    height: 125px;
                    background: #000;
                    border-radius: 50%;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(1.05);
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }

                .articles-name {
                    position: relative;
                    width: 175px;
                    height: 75px;
                    padding: .5rem;
                    background: #000;
                    transform: translateX(-10px);
                    border-top: 3px solid #fff;
                    border-bottom: 3px solid #fff;
                    border-right: 3px solid #fff;
                    border-radius: 0 1rem 1rem 0;
                    
                    // Articles Iteration positioning 
                    $topvalue: 2px;
                    $leftvalue: 5px;

                    // Articles Iteration styling
                    @for $i from 0 through 3 {
                        .articles_iteration-#{$i} {
                            position: absolute;
                            top: calc(#{$topvalue} + #{$i * 5px});
                            left: calc(#{$leftvalue} + #{$i * 5px});
                            z-index: #{4 - $i};
                            opacity: #{1 - ($i * 0.2)};
                            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                        }
                    }
                }
            }

            &.portfolio {
                position: relative;
                align-items: center;
                justify-content: center;
                top: 280px;
                left: 280px;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 5px solid #fff;
                background: #C6324D;
                transform: rotate(-30deg);
                filter: $ambiant-shadow;
                transition: all .6s ease-in-out;

                .portfolio-icon {
                    transform: scale(.8) rotate(30deg);
                }

                .portfolio-name {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 700;

                    @for $i from 0 through 9 {
                        .portfolio_char-#{$i} {
                            position: absolute;
                        }
                    }
                }

                &::after {
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    height: 90%;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
            }

            &.arcadepalace {
                position: relative;
                align-items: center;
                justify-content: center;
                top: 300px;
                left: 50px;
                width: 245px;
                height: 170px;
                transform: rotate(5deg);
                filter: $ambiant-shadow;

                .arcadepalace-icon {
                    transform: translateY(-25px);
                }

                .arcadepalace-name {
                    text-transform: uppercase;
                    
                    @for $i from 0 through 5 {
                        .arcade_char-#{$i} {
                            position: absolute;
                            font-weight: 700;
                        }
                    }

                    .palace_word {
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: $notable;
                        font-size: 2.5rem;
                        letter-spacing: 5px;
                        text-align: center;
                        color: #fff;
                        text-shadow: -2px 0 #095867, 0 2px #095867, 2px 0 #095867, 0 -2px #095867;
                    }
                }

                &::before {
                    content:'';
                    position: absolute;
                    width: 245px;
                    height: 113px;                
                    background: linear-gradient(to top, #0D5A6E, #095867);
                    border: 5px solid white;
                    border-radius: 10px;
                    filter: drop-shadow(2px 6px 0px #FFFFFF);
                    z-index: -2;
                }

                &::after {
                    content:'';
                    position: absolute;
                    top: -33px;
                    right: 25%;
                    width: 112px;
                    height: 56px;
                    background: #0D5A6E;
                    border: 5px solid white;
                    border-bottom: 0;
                    border-radius: 61.6px 61.6px 0 0;
                    z-index: -1;
                }
            }
        }
    }
    
    #Notebook_Frontpage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: 
            translate(-50%, -50%);     
        transform-origin: left center;
        width: 95%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23734E32' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");        
        z-index: 110;
        transition: all .6s linear;

        &.notebook_frontpage-closed {
            height: 97%;
        }

        &.notebook_frontpage-open {
            height: 99%;
        }

        .header {
            position: relative;
            top: 20px;
            right: -45%;
            width: 240px;
            height: 150px;
            border: 1px solid black;
            border-radius: 10px;
            background: #2C1B0D;
            color: #A1724B;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: $ambiant-shadow;
            
            .sewing {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 90%;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23734E32' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");        
                z-index: 100;
            }
        }
    }
}

#Notebook-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &.notebook-content-closed {
        &::before {
            width: 100%;
            animation: PageTurn-closed .6s linear;
        }
}

    &.notebook-content-open {
        &::before {
            width: 200%;
            animation: PageTurn-open .6s linear;
        }
}

    &::before {
        content: '';
        position: absolute;
        height: 102%;
        top: 0;
        left: 0;
        transform-origin: right center;
        background: radial-gradient(#583E2A, #281B12);
        border-radius: 10px 40px 40px 10px;
        z-index: 1;
    }
}


@keyframes PageTurn-closed {
    0% {
        width: 200%;
    } 
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

@keyframes PageTurn-open {
    0% {
        width: 100%;
    } 
    50% {
        width: 100%;
    }
    100% {
        width: 200%;
    }
}


