#Notebook {
    position: absolute;
    top: 25px;
    left: 800px;
    width: 500px;
    height: 800px;
    z-index: 100;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(#684931, #382618);
        border-radius: 10px 40px 40px 0px;
        z-index: 0;
        box-shadow: inset -5px 2px 6px 0px #93643f;
    }

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(#583E2A, #281B12);
        border-radius: 10px 40px 40px 10px;
        z-index: 0;
    }

    .bookmark{
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 90%;
            left: 15px;
            bottom: -30px;
            background: #043D5B;
            border-left: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform: skewY(-45deg);
        }

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 90%;
            left: 50px;
            bottom: -50px;
            background: #043D5B;
            border-right: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform: skewY(45deg);
        }
    }

    #Notebook_Nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navLink {
            display: flex;
            position: relative;
            box-sizing: border-box;
            color: #fff;

            &.articles {
                align-items: center;
                width: fit-content;
                top: 250px;
                left: 80px;
                font-family: $poetsen;
                font-weight: 400;
                font-size: 2.5rem;
                font-style: normal;

                .articles-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    background: #000;
                    border-radius: 50%;
                }

                .articles-name {
                    width: 200px;
                    height: 75px;
                    padding: .5rem;
                    background: #000;
                    transform: translateX(-20px);
                    border-radius: 0 1rem 1rem 0;
                }
            }

            &.portfolio {
                top: 325px;
                left: 280px;
                width: 145px;
                height: 145px;
                border-radius: 50%;
                background: #C6324D;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 110%;
                    height: 110%;
                    background: #fff;
                    border-radius: 50%;
                    z-index: -1;
                }

                &::after {
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    height: 90%;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
            }

            &.arcadepalace {
                top: 400px;
                left: 50px;
                width: 245px;
                height: 170px;
                filter: drop-shadow(1px 6px 0px #FFFFFF);
                transform: rotate(5.48deg);

                &::before {
                    content:'';
                    position: absolute;
                    width: 245px;
                    height: 113px;                
                    background: #0D5A6E;
                    border: 5px solid white;
                    border-radius: 10px;
                    z-index: -2;
                }

                &::after {
                    content:'';
                    position: absolute;
                    top: -56px;
                    right: 25%;
                    width: 112px;
                    height: 56px;
                    background: #0D5A6E;
                    border: 5px solid white;
                    border-bottom: 0;
                    border-radius: 61.6px 61.6px 0 0;
                    z-index: -1;
                }
            }
        }
    }
    
    #Notebook_Frontpage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23734E32' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");        
        z-index: 1;

        .header {
            position: relative;
            top: 20px;
            right: -50%;
            width: 200px;
            height: 150px;
            border: 1px solid black;
            border-radius: 10px;
            background: #2C1B0D;
            color: #A1724B;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .sewing {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 90%;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23734E32' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");        
                z-index: 100;
            }
        }
    }

}

