#Resume {
    width: 35%;
    display: flex;
    justify-content: center;
    padding: 4rem;

    .pictures, .presentation {
        &.scaleIn {
            transform: scale(1);
            animation: scaleIn var(--scale-animation-duration) forwards;
        }
        &.scaleOut {
            transform: scale(0);
            animation: scaleOut var(--scale-animation-duration) forwards;
        }
    }
    
    .pictures {
        position: relative;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        border: .25rem solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .presentation {
            position: absolute;
            border: 2px solid black;
            border-radius: .5rem;
            width: 25rem;
            height: 10rem;
            bottom: -25%;
            left: 0;
            text-align: center;
            background-color: #00000050;
            backdrop-filter: blur(.25rem);

            .content {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .text {
                    color: white;
                }
                
                .arrow {
                    position: absolute;
                    font-size: 5rem;
                    top: 25%;
                    transition: all .3s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                        color: white;
                        cursor: pointer;
                    }
                }

                .left {
                    left: -2.5rem;

                }

                .right {
                    right: -2.5rem;
                }
            }
        }
    }

}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}