 @import "./heroes-card";
 @import "./wheels";
 @import "./crown";
 @import "./bulwark";

#Boardgame {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .player-board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    }

}