#Wheels-spinner1 {
    flex-direction: column;
}

#Wheels-spinner2 {
    flex-direction: column-reverse;
}

#Wheels-spinner1, #Wheels-spinner2 {
    display: flex;
    gap: 1rem;
    z-index: 100;

    .wheels-trigger {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        .btn-spin-trigger {
            width: fit-content;
            padding: 1rem;
            background-color: white;
            color: black;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
            font-size: .75rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;

            &:disabled {
                background-color: #d3d3d3;
                color: #a9a9a9;
                cursor: not-allowed;
            }
        }
    }
    
    .wheel-spin {
        display: flex;
        height: 620px;
        .wheel {
            display: flex;
            flex-direction: column;
        }
    }
    .wheels-row {
        display: flex;

        .wheel {
            display: flex;
            flex-direction: column;
        }
    }

}
