#Boardgame {
    .wheels-comp {

        .wheel-spin {
            display: flex;
            height: 620px;
            .wheel {
                display: flex;
                flex-direction: column;
            }
        }
        .wheels-row {
            display: flex;

            .wheel {
                display: flex;
                flex-direction: column;
            }
        }

    }

}