#Boardgame {
    .wheels-comp {
        .wheels-row {
            display: flex;

            .wheel {
                display: flex;
                flex-direction: column;
            }
        }

    }

}