#Boardgame {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .wheels-comp {
        display: flex;
        gap: 1rem;

        .wheels-trigger {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
        
        .wheel-spin {
            display: flex;
            height: 620px;
            .wheel {
                display: flex;
                flex-direction: column;
            }
        }
        .wheels-row {
            display: flex;

            .wheel {
                display: flex;
                flex-direction: column;
            }
        }

    }

}