#Dashboard {
    width: 480px;
    height: 800px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 120;

    .header, .dashBody {
        .dashLink {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .header, .dashBody, .footer {
        margin-left: 5rem;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s ease-in-out;
        border-bottom: 1px solid #004579;

        .dashLink {
            border-radius: .5rem;
            z-index: 1;
        
            .headerIcon {
                padding: 0 1rem;
            }

            .linkname {
                font-family: $caveat;
                font-size: 2rem;
                color: #004579;
            }
        }
    }

    .dashBody {
        .nav-op {
            top: -35px;
        }        
        .nav-cl {
            top: 35px;
        }
        .nav-op, .nav-cl {
            position: absolute;
            left: 0;
            width: 480px;
            z-index: -20;
            transition: all .3s ease-in-out;

            @for $i from 1 through 3 {
                .dashLink-#{$i} {
                    margin: 0 .5rem;
                    position: absolute;
                    display: flex;
                    align-items: flex-start;
                    border-radius: 1rem 1rem 0 0;
                    border: 3px solid #fff;
                    justify-content: flex-start;
                    width: 70px;
                    height: 70px;
                    transform: translateY(0);
                    transform-origin: bottom center;
                    cursor: pointer;
                    z-index: 1;
                    transition: all .5s ease-in-out;
                    
                    &.articles-sltd, &.portfolio-sltd, &.arcadepalace-sltd {
                        top: 30px;
                        right: 385px;
                        background: #076090;
                    }
    
                    &.articles-unsltd, &.portfolio-unsltd, &.arcadepalace-unsltd {
                        top: -10px;
                        right: calc(10px + #{$i - 1} * 80px);
                        background: #004579;
                        transition: all .3s ease-in-out;
                        animation: dashlink-unsltd .5s forwards;
    
                        &:hover {
                            top: -20px;
                        }
                    }

                    @keyframes dashlink-unsltd {
                        0% {transform: translateY(100%);}
                        80% {transform: translateY(100%);}
                        100% {transform: translateY(0);}
                    }
    
                    .navIcon {
                        padding: 0;
                        transition: all .3s ease-in-out;
                        transform: scale(.8);
                    }
    
                    .linkname {
                        margin-left: 1rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #004579;
                        text-align: center;
                        display: none;
        
                        &.show {
                            display: block;
                        }
                    }
                }    
            }

        }

        .dashBodyContent {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 15rem;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0 .5rem .5rem .5rem;
            color: #004579;
            transition: all .3s ease-in-out;

            .sectionName {
                font-size: 1.45rem;
                font-weight: 700;
            }

            .sublinks {
                position: absolute;
                left: 100%;
                top: 10px;
                display: flex;
                flex-direction: column;

                .sublink {
                    width: 3.5rem;
                    display: flex;
                    align-items: center;
                    padding: .5rem;
                    border-radius: 0 .5rem .5rem 0;
                    background: linear-gradient(to right, #004579, #004579);
                    color: #fff;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform-origin: left top;
                    cursor: pointer;
                    transition: all .1s ease-in-out;
                    
                    &.popIn {
                        animation: popIn .5s ease-in-out;
                        transform: scale(1);
                    }

                    &.popOut {
                        animation: popOut .5s ease-in-out;
                        transform: scale(0);
                    }
    
                    &.hovered {
                        width: 12rem;
                        background: linear-gradient(to right, #004579, #0095b3);
                    }
    
                    .sublinkIcon {
                        padding: 0 1rem;
                    }
    
                    .sublinkName {
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                    .sectionBack {
                        width: 32px;
                        height: 32px;
                    }

                    .sectionbacktitle {
                        padding-left: 1rem;
                        overflow: hidden;
                        white-space: nowrap;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        padding: 1rem;
        color:#004579;
        border-top: 1px solid #004579;
    }

    .page_main {
        position: absolute;
        top: 10px;
        left: 0;
        width: 500px;
        height: 790px;
        background: #e6e5de;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 2px dashed #00000055;
        border-radius: 0px 40px 40px 0px;
        transform-origin: center left;
        box-shadow: inset 20px 0px 20px 0px #00000055;
        z-index: -10;
        pointer-events: none;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes popOut {
    from {
        transform: scale(1);
    }
    to {
        transform: tscale(0);
    }
}

