@import './login';

#Authentication {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    z-index: 1000;
    // font-family: $luckiest;
    transition: all .5s ease-in-out .2s;

    &.show {
        transform: translate(0px, 0);
    }

    &.hide {
        transform: translate(500px, 0);
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &::after,
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            pointer-events: none;
            transform: skew(-10deg) scale(1);
            transition: all 0.3s ease-in-out;
        }

        &.unregister,
        &.register {
            &::after {
                right: -10px;
                width: 100%;
                height: 100px;
                background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
                ;
                background-size: 1.3rem 1.3rem;
                background-position: 0 0, 0.65rem 0.65rem;
                transform: rotateZ(.5deg) skewX(-10deg) translate(0px, 0px);
            }

            &::before {
                width: 100%;
                background: linear-gradient(to bottom, #3d4c51, #313a3e);
            }
        }

        &.unregister {
            width: 150px;
            height: 50px;
            padding: .25rem;
            margin: 1rem 2.5rem;

            &::after {
                opacity: 0;
                border-radius: 0 0 0 1rem;
            }

            &::before {
                right: -5px;
                height: 45px;
                border-radius: 1rem;
                border: .2rem solid goldenrod;
            }
        }

        &.register {
            justify-content: center;
            width: 250px;
            height: 100px;

            &::after {
                opacity: .1;
                border-radius: 0 0 0 1rem;
            }

            &::before {
                right: -10px;
                height: 100px;
                border-radius: 0 0 0 1rem;
                border: .2rem solid #ffffffaa;
            }
        }

    }

    .auth-btn {
        width: 150px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        font-size: 1.15rem;
        font-weight: 500;
        color: #fff;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            letter-spacing: .05rem;
        }

        &.show {
            transform: scale(1);
        }

        &.hide {
            transform: scale(0);
        }
    }

    .profil {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 200px;
        height: 100px;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        .user-menu {
            color: #fff;
        }

        .picture,
        .default {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: .2rem solid #60e75c;
            transition: all .3s ease-in-out;

            &.show {
                transform: translate(0px, 0px);
            }

            &.hide {
                transform: translate(350px, 0px);
            }
        }

        .default {
            background: #60e75c;
            color: #fff;
            padding: .5rem;
            transition: all .3s ease-in-out;
        }

        .user-menu {
            display: flex;
            align-items: center;
            gap: .25rem;
            transition: all .3s ease-in-out;

            .user-name {
                color: #fff;
                font-size: 1.25rem;
                font-weight: 500;
                text-align: right;
                transition: all .3s ease-in-out;
            }

            &.show {
                transform: translate(0px, 0px);
            }

            &.hide {
                transform: translate(0px, -300px);
            }

        }

    }

}
