#Bookmark {
    position: relative;
    top: 0;
    width: 100%;
    height: 800px;
    transform-origin: left center;
    z-index: 120;

    &.bk-cl {
        left: 0%;
        animation: bk-clsd-anim 1s ease-in-out;
    }

    &.bk-op- {
        left: 100%;
        animation: bk-open-anim 1s ease-in-out;
    }

    &.bk-op-sw {
        transform: rotate3d(1, 1, 1, 0deg);
        animation: bk-switch-anim 1s ease-in-out;
    }

    @keyframes bk-clsd-anim {
        0% {
            left: 100%;
        }
        50% {
            left: 0%;
        }
    }

    @keyframes bk-open-anim {
        0% {
            left: 0%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @keyframes bk-switch-anim {
        0% {
            transform: rotate3d(1, 1, 1, 0deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 90deg);
        }
    }

    .main_cat {
        position: absolute;
        top: -10px;
        left: 15px;
        width: 73px;
        height: 125px;
        background: #076090;
        border-radius: 10px 10px 0 0;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        z-index: 130;
    }

    .page-trans-cl, .page_trans-op- {
        position: absolute;
        top: 10px;
        left: 0;
        width: 500px;
        height: 790px;
        background: #e6e5de;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 2px dashed #00000055;
        border-radius: 0px 40px 40px 0px;
        transform-origin: center left;
        box-shadow: inset 20px 0px 20px 0px #000000;
    }

    .page_trans-cl {
        transform: rotate3d(1, 1, 1, 0deg);
        animation: page-transition-anim-closed .9s ease-in-out;
        z-index: 140;
    }

    .page_trans-op- {
        transform: rotate3d(0, 1, 0, 90deg);
        animation: page-transition-anim-open 1.1s ease-in-out;
        z-index: 140;
    }

    .page_trans-op-sw {
        transform: rotate3d(1, 1, 1, 0deg);
        z-index: 110;
        animation: page-transition-anim-switch 1s ease-in-out;
    }

    @keyframes page-transition-anim-closed {
        0% {
            transform: rotate3d(0, 1, 0, 90deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 0deg);
        }
    }

    @keyframes page-transition-anim-open {
        0% {
            transform: rotate3d(1, 1, 1, 0deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 90deg);
        }
    }

    @keyframes page-transition-anim-switch {
        0% {
            transform: rotate3d(1, 1, 1, 0deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 90deg);
        }
    }
    
    .ribbon-op, .ribbon-cl {
        width: 500px;
        height: 800px;
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 95%;
            left: 15px;
            bottom: -30px;
            background: linear-gradient(to bottom, #076192 10%, #05486C);
            border-left: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform-origin: top center;
            transition: all 1s ease-in-out;
            z-index: 120;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 95%;
            left: 50px;
            background: linear-gradient(to bottom, #076192 10%, #05486C);
            border-right: 3px solid #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            transform-origin: top center;
            transition: all 1s ease-in-out;
            z-index: 120;
        }
    }

    .ribbon-cl {
        &::before {
            animation: bookmark-before-closed 1.5s ease-in-out;
            transform: skewY(-45deg) rotate(0deg);
            border-radius: 0 0 0 0;
        }
        &::after {
            transform: skewY(45deg) rotate(0deg);
            border-radius: 0 0 0 0;
            bottom: -50px;
            animation: bookmark-after-closed 1.5s ease-in-out;
        }
    }

    .ribbon-op {
        &::before {
            transform: skewY(-45deg) rotate(0deg);
            border-radius: 0 0 0 0;
            animation: bookmark-before-open 1.5s ease-in-out;
        }
        &::after {
            transform: skewY(45deg) rotate(0deg);
            border-radius: 0 0 0 0;
            bottom: -50px;
            animation: bookmark-after-open 1.5s ease-in-out;
        }
    }

    @keyframes bookmark-before-closed {
        50% {
            transform: skewY(-45deg) rotate(0deg);
        }
    }

    @keyframes bookmark-after-closed {
        50% {
            bottom: -70px;
            transform: skewY(45deg) rotate(1deg);
        }
    }

    @keyframes bookmark-before-open {
        50% {
            transform: skewY(-45deg) rotate(-.5deg);
            border-radius: 0 0 0 1rem;
        }
    }

    @keyframes bookmark-after-open {
        50% {
            bottom: -25px;
            transform: skewY(45deg) rotate(-.75deg);
            border-radius: 0 0 .75rem 0
        }
    }
}
