@import './nb-content';
@import './nb-cover';
@import './bookmark';

#Notebook {
    position: relative;
    top: 50%;
    left: var(--nb-left);
    width: 500px;
    height: 800px;
    transform-origin: center;
    filter: drop-shadow(-5px 5px 2px #00000055);
    transition: all 1s ease-in-out;
    transform: translate(-50%, -50%) rotate(var(--nb-rotate));
}






