* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

#Dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 1rem;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}
#Dashboard a {
  color: white;
}

#App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#App .app-container {
  position: relative;
  max-width: 1640px;
  width: 1640px;
  max-height: 800px;
  height: 800px;
  border-radius: 1rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.6666666667);
  background: linear-gradient(to bottom, #1e81c8, #163bb3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#Menu {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 4rem 2rem;
}
#Menu .latest {
  grid-area: 1/1/2/2;
}
#Menu .articles {
  grid-area: 2/1/3/2;
}
#Menu .portefolio {
  grid-area: 1/2/3/3;
}
#Menu .arcade {
  grid-area: 1/3/3/4;
}
#Menu .latest, #Menu .articles {
  max-width: 20rem;
  max-height: 20rem;
}
#Menu .latest, #Menu .articles, #Menu .portefolio, #Menu .arcade {
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
#Menu .latest:hover, #Menu .articles:hover, #Menu .portefolio:hover, #Menu .arcade:hover {
  border: 0.15rem solid white;
  transform: scale(1.02);
}

#Resume {
  width: 35%;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
#Resume .pictures {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 0.25rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Resume .pictures .presentation {
  position: absolute;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 25rem;
  height: 10rem;
  bottom: -25%;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3137254902);
  backdrop-filter: blur(0.25rem);
}
#Resume .pictures .presentation .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#Resume .pictures .presentation .content .text {
  color: white;
}
#Resume .pictures .presentation .content .arrow {
  position: absolute;
  font-size: 5rem;
  top: 25%;
  transition: all 0.3s ease-in-out;
}
#Resume .pictures .presentation .content .arrow:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}
#Resume .pictures .presentation .content .left {
  left: -2.5rem;
}
#Resume .pictures .presentation .content .right {
  right: -2.5rem;
}

#Landing {
  display: flex;
  width: 100%;
  height: 100%;
}
#Landing #Menu, #Landing #Resume {
  height: 100%;
}

#MkCard {
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 100px;
  border-radius: 0.5rem;
  display: flex;
  backdrop-filter: blur(10px);
  opacity: 1;
  z-index: 1;
}
#MkCard.unhovered-200cc::after, #MkCard.unhovered-200cc::before, #MkCard.hovered-200cc::after, #MkCard.hovered-200cc::before, #MkCard.unhovered-150cc::after, #MkCard.unhovered-150cc::before, #MkCard.hovered-150cc::after, #MkCard.hovered-150cc::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 0 0.5rem 0 0.5rem;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
#MkCard.unhovered-200cc::before, #MkCard.hovered-200cc::before, #MkCard.unhovered-150cc::before, #MkCard.hovered-150cc::before {
  opacity: 0.5;
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.0666666667), #ffffff);
  z-index: -1;
}
#MkCard.unhovered-200cc::before, #MkCard.unhovered-150cc::before {
  transform: translate(0, -50%) skew(0deg, -5deg) rotate(0deg);
}
#MkCard.unhovered-200cc::after, #MkCard.unhovered-150cc::after {
  transform: translate(1%, -30%) skew(0deg, -5deg) rotate(0deg);
}
#MkCard.hovered-200cc::before, #MkCard.hovered-150cc::before {
  transform: translate(0, -50%) skew(0deg, -5deg) rotate(5deg) scale(1.05);
}
#MkCard.hovered-200cc::after, #MkCard.hovered-150cc::after {
  border: 0.4rem solid goldenrod;
  transform: translate(0%, -20%) skew(0deg, -5deg) rotate(5deg);
}
#MkCard.unhovered-200cc::after {
  border: 0.2rem solid goldenrod;
}
#MkCard.hovered-200cc::after {
  background-color: goldenrod;
  border: 0.2rem solid goldenrod;
}
#MkCard.unhovered-150cc::after {
  border: 0.2rem solid #00d0ff;
}
#MkCard.hovered-150cc::after {
  background-color: #00d0ff;
  border: 0.2rem solid #00d0ff;
}
#MkCard.selected-200cc {
  animation: shake 0.5s ease-in-out;
}
#MkCard.selected-200cc::before {
  transform: translate(0, -50%) skew(0deg, -5deg) rotate(5deg) scale(1.05);
}
#MkCard.selected-200cc::after {
  z-index: 0;
  height: 20px;
  background-color: goldenrod;
  border: 0.4rem solid goldenrod;
  transform: translate(10px, 0) skew(0deg, -5deg) rotate(5deg);
}
#MkCard.selected-150cc {
  animation: shake 0.5s ease-in-out;
}
#MkCard.selected-150cc::before {
  transform: translate(0, -50%) skew(0deg, -5deg) rotate(5deg) scale(1.05);
}
#MkCard.selected-150cc::after {
  z-index: 0;
  height: 20px;
  background-color: #00d0ff;
  border: 0.4rem solid #00d0ff;
  transform: translate(10px, 0) skew(0deg, -5deg) rotate(5deg);
}
#MkCard.event-card {
  cursor: pointer;
}
#MkCard.event-card .event-img {
  position: relative;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  transition: all 0.1s linear;
  animation: popOut 0.5s ease-in-out;
}
#MkCard.event-card .event-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0.5rem 0 0.5rem;
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.0666666667), #ffffff);
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
#MkCard.event-card .event-img.hovered {
  animation: cartridge-in 0.2s linear;
  transform: translate(0, 0);
}
#MkCard.event-card .event-img.hovered::after {
  height: 0%;
}
#MkCard.event-card .event-img.unhovered {
  animation: cartridge-out 0.2s linear;
  transform: scale(1) translate(0, 0);
}
#MkCard.event-card .event-img.unhovered::after {
  height: 0%;
}
#MkCard.event-card .event-img.active {
  transform: scale(1.1) translate(0, -10px);
}
#MkCard.event-card .event-img.selected {
  animation: cartridge-insert 0.5s ease-in-out;
  transform: scale(1) translate(0px, 0px);
}
#MkCard.event-card .event-img .loading {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff);
  border-radius: 1rem 1rem 0 0;
  animation: infinite fadeloop 0.75s linear;
}
#MkCard.event-card .event-img .race-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
  right: 0;
  transition: all 0.2s ease-in-out;
}
#MkCard.event-card .event-img .race-icon::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: -15px;
  width: 100px;
  height: 10px;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: all 0.2s ease-in-out;
  filter: blur(1.5px);
  opacity: 0;
}
#MkCard.event-card .event-img .race-icon.unhovered {
  transform: translate(0%, 10%) scale(1.2);
}
#MkCard.event-card .event-img .race-icon.hovered {
  transform: translate(0%, 25%) scale(0.65);
}
#MkCard.event-card .event-img .race-icon.selected {
  transform: translate(0%, 25%) scale(0.65);
}
#MkCard.event-card .event-img .race-icon.selected::after {
  opacity: 1;
}
#MkCard.event-card .event-img .race-icon .icon {
  width: 100%;
  height: 100%;
}
#MkCard.event-card .event-info {
  position: relative;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.5rem;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
#MkCard.event-card .event-info .event-name {
  font-size: 1rem;
  font-weight: 700;
}
#MkCard.event-card .event-info .event-race {
  font-size: 0.75rem;
  font-weight: 400;
}
#MkCard.event-card .event-info .event-speed {
  position: absolute;
  right: 0;
  bottom: 25px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
#MkCard.event-card .event-info .event-speed.show {
  opacity: 0.1;
}
#MkCard.event-card .event-info .event-speed.hide {
  opacity: 0;
}
#MkCard.event-card .event-details-200cc, #MkCard.event-card .event-details-150cc {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  right: -20px;
  z-index: 2;
}
#MkCard.event-card .event-details-200cc .capacity, #MkCard.event-card .event-details-200cc .endAt, #MkCard.event-card .event-details-200cc .user, #MkCard.event-card .event-details-150cc .capacity, #MkCard.event-card .event-details-150cc .endAt, #MkCard.event-card .event-details-150cc .user {
  font-size: 0.75rem;
  font-weight: 400;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0 0.5rem 0 0.5rem;
}
#MkCard.event-card .event-details-150cc .capacity, #MkCard.event-card .event-details-150cc .endAt, #MkCard.event-card .event-details-150cc .user {
  background-color: #00d0ff;
}
#MkCard.event-card .event-details-200cc .capacity, #MkCard.event-card .event-details-200cc .endAt, #MkCard.event-card .event-details-200cc .user {
  background-color: goldenrod;
}
#MkCard .shadow {
  width: 115px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 5px;
  transition: all 0.2s ease-in-out;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.15rem solid rgba(0, 0, 0, 0.3333333333);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.0666666667);
  border-radius: 0 0 0.5rem 0.5rem;
  filter: blur(1.5px);
  opacity: 0;
  z-index: 2;
  transform: translate(-0.8rem, -90%) scale(0.5);
}
#MkCard .shadow.selected {
  transition: all 0.2s ease-in-out 0.3s;
  transform: translate(-0.8rem, 40%) scale(0.5);
  opacity: 1;
}
#MkCard .shadow.unselected {
  opacity: 0;
}

@keyframes cartridge-in {
  from {
    transform: scale(1) translate(0, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes cartridge-out {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes cartridge-insert {
  0% {
    transform: translate(0%, 10%) scale(1.2);
  }
  50% {
    transform: translate(0%, -70%) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes cartridge-remove {
  from {
    transform: scale(1) translate(0, -10px);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes shake {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, 10%);
    z-index: 0;
  }
  100% {
    transform: translate(0%, 0%);
    z-index: 0;
  }
}
@keyframes bring-front {
  from {
    z-index: -1;
  }
  to {
    z-index: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(40px, 0px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeloop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes popOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#EventListInput {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1.5rem;
  z-index: 1;
}
#EventListInput.open {
  animation: slide-in-from-top 0.5s ease-in-out;
}
#EventListInput.closed {
  animation: slide-out-to-top 0.5s ease-in-out;
}
#EventListInput label {
  font-size: 0.75rem;
  font-weight: 500;
}
#EventListInput .input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  outline: none;
  border: 0.2rem solid transparent;
  color: black;
  background-color: white;
  border: 0.2rem solid #1c3649;
}
#EventListInput .input:focus {
  border: 0.2rem solid #40C5EC;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out-to-top {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
#MkPages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#MkPages .list-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 1rem 0.5rem;
  transition: all 0.5s ease-in-out;
}
#MkPages .list-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background: linear-gradient(to bottom, #1969A4, #122F8F);
  transform: translate(-17px, 0) rotateZ(5deg);
  background-repeat: repeat-y;
  -webkit-mask-image: url("/src/assets/images/statics/mariokart/triangle.svg");
  mask-image: url("/src/assets/images/statics/mariokart/triangle.svg");
}
#MkPages .list-menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  width: 450px;
  height: 100%;
  background: linear-gradient(to bottom, #1969A4, #122F8F);
  height: 100%;
  padding: 1rem 0.5rem;
  transform-origin: bottom left;
  transform: translate(-100px, -50px) rotateZ(5deg);
}
#MkPages .list-menu.open {
  transform: translate(0px, 0px);
  animation: open-menu 0.5s ease-in-out;
}
#MkPages .list-menu.closed {
  transform: translate(-500px, 0px);
  animation: closed-menu 0.3s ease-in-out;
}
#MkPages .list-sorter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}
#MkPages .list-sorter.open {
  transform: translateX(0%);
  animation: open-container 0.5s ease-in-out;
}
#MkPages .list-sorter.closed {
  transform: translateX(100%);
  animation: closed-container 0.3s ease-in-out;
}
#MkPages .list-sorter .list-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem 3rem;
  width: 100%;
  height: 75%;
  transition: all 0.3s ease-in-out;
}
#MkPages .list-sorter .list-card.outRight {
  transform: translateX(5%);
  opacity: 0;
  animation: outRight 0.3s ease-in-out;
}
#MkPages .list-sorter .list-card.outLeft {
  transform: translateX(5%);
  opacity: 0;
  animation: outLeft 0.3s ease-in-out;
}
#MkPages .list-sorter .list-card.inRight {
  transform: translateX(0%);
  opacity: 1;
  animation: inRight 0.3s ease-in-out;
}
#MkPages .list-sorter .list-card.inLeft {
  transform: translateX(0%);
  opacity: 1;
  animation: inLeft 0.3s ease-in-out;
}
#MkPages .list-sorter .list-pagination {
  display: flex;
  width: 50px;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#MkPages .list-sorter .list-pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#MkPages .list-sorter .list-pagination .pagination .pagination-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #40C5EC;
  border: 1px solid #40C5EC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#MkPages .list-sorter .list-pagination .pagination .pagination-btn:disabled {
  background-color: #e0eaf4;
  border: 1px solid #e0eaf4;
  opacity: 0.5;
  cursor: default;
}
#MkPages .list-sorter .list-pagination .pagination .pagination-btn:hover {
  background-color: #256e85;
  color: white;
}

@keyframes open-menu {
  from {
    transform: translate(-500px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes closed-menu {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-500px, 0px);
  }
}
@keyframes open-container {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes closed-container {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes outLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-5%);
    opacity: 0;
  }
}
@keyframes outRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(5%);
    opacity: 0;
  }
}
@keyframes inLeft {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes inRight {
  from {
    transform: translateX(5%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
#ArcadePalace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#ArcadePalace .games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#ArcadePalace .games .game-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.3137254902);
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  color: white;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
#ArcadePalace .games .game-link:hover {
  border: 0.15rem solid white;
  transform: scale(1.02);
}

#Hero {
  width: 17rem;
  height: 14rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: white;
}
#Hero meter {
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
}
#Hero meter::-webkit-meter-bar {
  background: #eee;
}
#Hero meter::-webkit-meter-optimum-value {
  background: #b4e6e9;
  border-radius: 10px;
}
#Hero meter::-moz-meter-bar {
  background: #b4e6e9;
  border-radius: 10px;
}
#Hero.square {
  flex-direction: row-reverse;
}
#Hero.square .hero-rod .rod-segment {
  background-color: #d57f36;
}
#Hero .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#Hero .hero-info .hero-id {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
}
#Hero .hero-info .hero-id .hero-title {
  color: black;
}
#Hero .hero-info .hero-spec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#Hero .hero-info .hero-spec .offensive, #Hero .hero-info .hero-spec .defensive {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1rem;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
#Hero .hero-rod {
  width: 4rem;
  height: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
#Hero .hero-rod .rod-segment {
  width: 100%;
  height: 33%;
  background-color: #48e7cf;
  border-radius: 0.5rem;
}

#Wheels-spinner1 {
  flex-direction: column;
}

#Wheels-spinner2 {
  flex-direction: column-reverse;
}

#Wheels-spinner1, #Wheels-spinner2 {
  display: flex;
  gap: 1rem;
  z-index: 100;
}
#Wheels-spinner1 .wheels-trigger, #Wheels-spinner2 .wheels-trigger {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
#Wheels-spinner1 .wheels-trigger .btn-spin-trigger, #Wheels-spinner2 .wheels-trigger .btn-spin-trigger {
  width: fit-content;
  padding: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
#Wheels-spinner1 .wheels-trigger .btn-spin-trigger:disabled, #Wheels-spinner2 .wheels-trigger .btn-spin-trigger:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}
#Wheels-spinner1 .wheel-spin, #Wheels-spinner2 .wheel-spin {
  display: flex;
  height: 620px;
}
#Wheels-spinner1 .wheel-spin .wheel, #Wheels-spinner2 .wheel-spin .wheel {
  display: flex;
  flex-direction: column;
}
#Wheels-spinner1 .wheels-row, #Wheels-spinner2 .wheels-row {
  display: flex;
}
#Wheels-spinner1 .wheels-row .wheel, #Wheels-spinner2 .wheels-row .wheel {
  display: flex;
  flex-direction: column;
}

#Crown {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

#Bulwark {
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.5rem;
}

#Boardgame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
}
#Boardgame h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#Boardgame .player-board1 {
  flex-direction: column;
  border-top: 1px solid white;
}
#Boardgame .player-board2 {
  flex-direction: column-reverse;
  border-bottom: 1px solid white;
}
#Boardgame .player-board1, #Boardgame .player-board2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
#Boardgame .player-board1 .top-player1, #Boardgame .player-board2 .top-player1 {
  flex-direction: column;
}
#Boardgame .player-board1 .top-player2, #Boardgame .player-board2 .top-player2 {
  flex-direction: column-reverse;
}
#Boardgame .player-board1 .top-player1, #Boardgame .player-board1 .top-player2, #Boardgame .player-board2 .top-player1, #Boardgame .player-board2 .top-player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Boardgame .player-board1 .bottom-player1, #Boardgame .player-board1 .bottom-player2, #Boardgame .player-board2 .bottom-player1, #Boardgame .player-board2 .bottom-player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=App.css.map */
