* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

#Dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 1rem;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}
#Dashboard a {
  color: white;
}

#App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#App .app-container {
  position: relative;
  max-width: 1640px;
  width: 1640px;
  max-height: 800px;
  height: 800px;
  border-radius: 1rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.6666666667);
  background: linear-gradient(to bottom, #1e81c8, #163bb3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#Menu {
  width: 60%;
  border-radius: 0.5rem 0 0 0.5rem;
}

#Resume {
  width: 40%;
  border-radius: 0 0.5rem 0.5rem 0;
}

#Landing {
  display: flex;
  width: 100%;
  height: 100%;
}
#Landing #Menu, #Landing #Resume {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#Hero {
  width: 17rem;
  height: 14rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: white;
}
#Hero meter {
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
}
#Hero meter::-webkit-meter-bar {
  background: #eee;
}
#Hero meter::-webkit-meter-optimum-value {
  background: #b4e6e9;
  border-radius: 10px;
}
#Hero meter::-moz-meter-bar {
  background: #b4e6e9;
  border-radius: 10px;
}
#Hero.square {
  flex-direction: row-reverse;
}
#Hero.square .hero-rod .rod-segment {
  background-color: #d57f36;
}
#Hero .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#Hero .hero-info .hero-id {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
}
#Hero .hero-info .hero-id .hero-title {
  color: black;
}
#Hero .hero-info .hero-spec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#Hero .hero-info .hero-spec .offensive, #Hero .hero-info .hero-spec .defensive {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1rem;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
#Hero .hero-rod {
  width: 4rem;
  height: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
#Hero .hero-rod .rod-segment {
  width: 100%;
  height: 33%;
  background-color: #48e7cf;
  border-radius: 0.5rem;
}

#Wheels-spinner1 {
  flex-direction: column;
}

#Wheels-spinner2 {
  flex-direction: column-reverse;
}

#Wheels-spinner1, #Wheels-spinner2 {
  display: flex;
  gap: 1rem;
  z-index: 100;
}
#Wheels-spinner1 .wheels-trigger, #Wheels-spinner2 .wheels-trigger {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
#Wheels-spinner1 .wheels-trigger .btn-spin-trigger, #Wheels-spinner2 .wheels-trigger .btn-spin-trigger {
  width: fit-content;
  padding: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
#Wheels-spinner1 .wheels-trigger .btn-spin-trigger:disabled, #Wheels-spinner2 .wheels-trigger .btn-spin-trigger:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}
#Wheels-spinner1 .wheel-spin, #Wheels-spinner2 .wheel-spin {
  display: flex;
  height: 620px;
}
#Wheels-spinner1 .wheel-spin .wheel, #Wheels-spinner2 .wheel-spin .wheel {
  display: flex;
  flex-direction: column;
}
#Wheels-spinner1 .wheels-row, #Wheels-spinner2 .wheels-row {
  display: flex;
}
#Wheels-spinner1 .wheels-row .wheel, #Wheels-spinner2 .wheels-row .wheel {
  display: flex;
  flex-direction: column;
}

#Crown {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

#Bulwark {
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.5rem;
}

#Boardgame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
}
#Boardgame h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#Boardgame .player-board1 {
  flex-direction: column;
  border-top: 1px solid white;
}
#Boardgame .player-board2 {
  flex-direction: column-reverse;
  border-bottom: 1px solid white;
}
#Boardgame .player-board1, #Boardgame .player-board2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
#Boardgame .player-board1 .top-player1, #Boardgame .player-board2 .top-player1 {
  flex-direction: column;
}
#Boardgame .player-board1 .top-player2, #Boardgame .player-board2 .top-player2 {
  flex-direction: column-reverse;
}
#Boardgame .player-board1 .top-player1, #Boardgame .player-board1 .top-player2, #Boardgame .player-board2 .top-player1, #Boardgame .player-board2 .top-player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Boardgame .player-board1 .bottom-player1, #Boardgame .player-board1 .bottom-player2, #Boardgame .player-board2 .bottom-player1, #Boardgame .player-board2 .bottom-player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=App.css.map */
